body{
<center>

li{
    color: green;
    display: inline-block;
    margin: 2%;
    font-size: 130%;
}
p{
    color: yellow
}

div{
    text-align: center;
}

ul{
    text-align: center;
}
